header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rosybrown;
  height: 100px;

  img {
    &:hover {
      width: 90px;
      height: 90px;
      transition: 0.4s;
    }
    margin-right: 50px;
  }

  a {
    color: rgb(220 249 255);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
  
    &:hover {
      color: rgb(6, 133, 38);
    }
  }
}