<nz-modal-basic [modalVisible]="modalVisible" [user]="user" (handleEvent)="visibleModal($event)">
  <app-loader *ngIf="!user"></app-loader>
  <div *ngIf="user" class="user-block">
    <div>
      <img src="{{user.picture}}" alt="{{user.firstName}}">
    </div>
    <div>
      <ul>
        <li>Date of Birth: {{user.dateOfBirth | date}}</li>
        <li>Email: {{user.email}}</li>
        <li>Phone: {{user.phone}}</li>
      </ul>
    </div>
    <div>
      <address>
        <i>
          Country: {{ user.location.country }}<br>
          City: {{ user.location.city }}<br>
          State: {{ user.location.state }}<br>
          Street: {{ user.location.street }}
        </i>
      </address>
    </div>
  </div>
</nz-modal-basic>